:root {
  --primary-color: #ff6600;
  --filter-color: invert(53%) sepia(44%) saturate(6917%) hue-rotate(2deg)
    brightness(104%) contrast(105%);
  --border-color: #e0e0e0;
  --bg-gray: #f1f1f1;
  --bg-green: #28a745;
  --shadow: 0 0 15px 5px #0002;
  --nav-bar-height: 60px;
  --max-width: 1200px;
}
.bg-white-rounded{
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid var(--border-color);
}
.width-70{
  width: 70%;
}
.width-30{
  width: 30%;
}
.width-60{
  width: 60%;
}
.width-40{
  width: 40%;
}
.width-100{
  width: 100%;
}
.gap-10{
  gap: 10px;
}
.btn_gris{
  background-color: rgb(235, 235, 235) !important;
  font-weight: normal;
}
.btn_green{
  background-color: var(--bg-green) !important;
  color: #fff !important;
  width: 100%;
}
.tarjetas_collapsed{
  width: 100%;
}
/* NAVBAR */
.navbar {
  position: sticky;
  z-index: 1000;
  width: 100%;
  height: var(--nav-bar-height);
  padding: 0px !important;
  outline: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  background-color: white;
}

.navbar_container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 10px;
}

.navbar_container a {
  text-decoration: none !important;
  cursor: pointer;
}

.navbar_item {
  display: none;
}

.navbar_container div:nth-child(3) {
  flex-grow: 1;
}

.navbar_container .logo {
  height: 35px;
}

.container_sesion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 30px;
  color: var(--primary-color);
  transition: 0.5s;
}

.container_sesion-btn svg {
  height: 25px;
  filter: var(--filter-color);
  transition: 0.5s;
}

.container_sesion-btn:hover {
  color: white;
  background-color: var(--primary-color);
  transition: 0.5s;
}

.container_sesion-btn:hover svg {
  filter: invert(100%);
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.menu-btn_burger,
.menu-btn_burger:after,
.menu-btn_burger:before {
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--primary-color);
  transition: 0.2s;
}

.menu-btn_burger:after {
  content: "";
  position: absolute;
  top: 5px;
  transition: 0.2s;
}

.menu-btn_burger:before {
  content: "";
  position: absolute;
  bottom: 5px;
  transition: 0.2s;
}

.open .menu-btn_burger {
  background-color: inherit;
  transition: 0.2s;
}

.open .menu-btn_burger:after {
  top: 50%;
  transform: rotate(-45deg);
  transition: 0.2s;
}

.open .menu-btn_burger:before {
  top: 50%;
  transform: rotate(45deg);
  transition: 0.2s;
}

.menu {
  position: absolute;
  z-index: 1000;
  top: 60px;
  right: 0;
  display: none;
  opacity: 0;
  width: max-content;
  padding: 10px 0;
  list-style: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: white;
  transition: 0.2s;
}

.menu li {
  padding: 5px 10px;
}

.menu li:hover {
  background-color: #0002;
}

.active {
  display: block;
  opacity: 1;
}

/* HOME */
.visually-hidden {
  display: none;
}

/* CARDS */
.bg__gray{
  display: block;
  width: 100%;
  background-color:  var(--bg-gray);
  padding: 10px 10px;
}
.sect__cards{
  display: flex;
  max-width: var(--max-width);
  margin: 10px auto;
  gap: 10px;
}

.row_cards{
  max-width: var(--max-width);
}

.filters{
  display: flex;
  width: 15%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid var(--border-color);
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: start;
  align-items: flex-start;
  padding: 8px;
}

.filters p{
  margin: 0;
}

.filters label{
  margin-bottom: 0;
}

.title_filter{
  font-weight: bold;
  margin-bottom: 5px !important;
}

.line{
  display: block;
  height: 1px;
  width: 90%;
  background-color: var(--border-color);
  margin: 10px 0;
}

.checkbox__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.checkbox__list__item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.checkbox__list__item input[type="checkbox"] {
  margin-right: 10px;
}

.cards{
  display: flex;
  width: 85%;
  padding: 0px 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.card__pidebus{
  background: #fff;
  display: flex;
  width: 100%;
  padding: 8px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid var(--border-color);
}

.card__pidebus p{
  margin-bottom: 0px;
}

.e__tick{
  font-weight: bold;
  font-size: 14px;
}

.div__card{
  display: flex;
  width: 16.66%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.line__card{
  display: block;
  height: 4px;
  width: 70%;
  background-color: #28a745;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.exit__part{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.hour{
  display: block;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 28px;
}
.intro__date{
  font-weight: bold;
  font-size: 14px;
}
.date{
  margin-left: 5px;
  font-size: 14px;
}
.price{
font-size: 40px;
color: #ff6600;
font-weight: bold;
margin: 5px 0;
}
.reembol{
  font-size: 10px;
}
.btn_naranja{
  margin-top: 10px;
  color: #fff !important;
  background-color: #ff6600 !important;
}

.terminal{
  color: #28a745;
  font-weight: bold;
}

.rating {
  display: inline-block;
}

.star {
  font-size: 22px;
  color: gold;
}

/* RESERVA ASIENTOS */

.reserva{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 20px;
}
.asientos{
  width: 70%;
}
.icon__user{
    position: relative;
    display: inline-block;  
}
.user__img{
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 50px;
  height: auto;
}
.online {
  position: absolute;
  top: 39px;
  right: 6px;
  width: 15px;
  height: 15px;
  background-color: rgb(0, 163, 0);
  border-radius: 50%;
}
.line_vertical{
  display: block;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  height: 15px;
  background-color: #9b9b9b;
}
.line_vertical_formas_pago{
  display: block;
  width: 4px;
  margin-left: 8px;
  margin-right: 8px;
  height: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.user_name{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
}
.user_likes{
  background-color: #28a74552;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 11px !important;
  color: #000 !important;
  height: fit-content;
}
.button-collap{
  border: 1px solid var(--border-color) !important;
  width: 100% !important;
}
.button-collap:focus {
  box-shadow: none !important;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000; /* Puedes ajustar el color aquí */
  margin-top: 5px; /* Ajusta el espaciado entre el texto y la flecha */
}
.ordenes{
  font-size: 14px;
}
.div_limites_all{
  padding-left: 58px;
}
.div_limites{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.div_forma_pago{
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.text-xs-gray{
  font-size: 10px !important;
  color: gray;
}
.text-xs-black{
  font-size: 12px !important;
  color: #000;
}
.timeline {
  width: 100%;
}

.event {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.connector {
  width: 12px;
    margin: 0 10px;
    height: 12px;
    color: #000;
    background: #000;
    border-radius: 70px;
    z-index: 10;
}
.middle-line {
  position: absolute;
  top: 115px;
  left: 39%;
  width: 2px;
  height: 23%;
  background-color: #e0e0e0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.icon {
  width: 32%;
  color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  justify-content: flex-start;
  flex-direction: column;
}

.time {
  width: 32%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SEARCH */
.search {
  padding: 10px;
  background-color: var(--primary-color);
  max-width: 100%;
}

.seach__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search__title {
  text-align: center;
  color: white;
}

.search__places,
.search__dates {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 10px;
}

.search__input-container {
  position: relative;
  border-radius: 5px;
  background-color: white;
}

.search__input-container label {
  position: absolute;
  padding: 3px 15px;
  padding-bottom: 0;
  margin: 0;
  font-size: 12px;
  color: grey;
}

.searc__icon {
  position: absolute;
  bottom: 20%;
  right: 13px;
  width: 20px;
}

.search input {
  height: 50px;
  padding-top: 20px;
  border: none;
}

.search button {
  border: none;
  border-radius: 50px;
  width: 100%;
  max-width: 500px;
}

.icon_naranja{
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 3px;
}
.bus{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid var(--bg-green);
}

.first_floor{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: start;
  width: 100%;
  text-align: center;
}
.first_floor_final{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: start;
  width: 100%;
  text-align: center;
  height: 20px;
}
.title_first_floor_final{
  height: 24px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  width: 100%;
  border-radius: 0px 0px 12px 12px ;
  -webkit-border-radius: 0px 0px 12px 12px ;
  -moz-border-radius: 0px 0px 12px 12px ;
  -ms-border-radius: 0px 0px 12px 12px ;
  -o-border-radius: 0px 0px 12px 12px ;
}
.title_first_floor{
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  width: 100%;
  border-radius: 12px 12px 0 0 ;
  -webkit-border-radius: 12px 12px 0 0 ;
  -moz-border-radius: 12px 12px 0 0 ;
  -ms-border-radius: 12px 12px 0 0 ;
  -o-border-radius: 12px 12px 0 0 ;
}
.first_floor_mid{
  display: flex;
  width: 100%;
  padding:10px 0;
  flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  width: 100%;
  justify-items: center;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 4 / 2 / 5; }
  .div4 { grid-area: 2 / 1 / 3 / 2; }
  .div5 { grid-area: 2 / 2 / 3 / 3; }
  .div6 { grid-area: 2 / 4 / 3 / 5; }
  .div7 { grid-area: 3 / 1 / 4 / 2; }
  .div8 { grid-area: 3 / 2 / 4 / 3; }
  .div9 { grid-area: 3 / 4 / 4 / 5; }
  .div10 { grid-area: 4 / 1 / 5 / 2; }
  .div11 { grid-area: 4 / 2 / 5 / 3; }
  .div12 { grid-area: 4 / 4 / 5 / 5; }

  .grid-item {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    width: 45px;
    height: 30px;
  }

  .used{
    background-color: rgb(201, 201, 201);
    color: #FFF;
    font-weight: bold;
  }

  .selected{
    background-color: var(--primary-color);
    color: #fff;
  }

  .escaleras{
    background-color: rgb(0, 0, 41);
    color: #FFF;
    font-weight: bold;
  }

  .parent-second {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    justify-items: center;
    }
    
    .div1-second { grid-area: 1 / 1 / 2 / 2; }
    .div2-second { grid-area: 1 / 2 / 2 / 3; }
    .div3-second { grid-area: 1 / 3 / 2 / 4; }
    .div4-second { grid-area: 1 / 4 / 2 / 5; }
    .div5-second { grid-area: 2 / 1 / 3 / 2; }
    .div6-second { grid-area: 2 / 2 / 3 / 3; }
    .div7-second { grid-area: 2 / 3 / 3 / 4; }
    .div8-second { grid-area: 2 / 4 / 3 / 5; }
    .div9-second { grid-area: 3 / 1 / 4 / 2; }
    .div10-second { grid-area: 3 / 2 / 4 / 3; }
    .div11-second { grid-area: 3 / 3 / 4 / 4; }
    .div12-second { grid-area: 3 / 4 / 4 / 5; }
    .div13-second { grid-area: 4 / 1 / 5 / 2; }
    .div14-second { grid-area: 4 / 2 / 5 / 3; }
    .div15-second { grid-area: 4 / 4 / 5 / 5; }
    .div16-second { grid-area: 5 / 1 / 6 / 2; }
    .div17-second { grid-area: 5 / 2 / 6 / 3; }
    .div18-second { grid-area: 5 / 3 / 6 / 4; }
    .div19-second { grid-area: 5 / 4 / 6 / 5; }
    .div20-second { grid-area: 6 / 1 / 7 / 2; }
    .div21-second { grid-area: 6 / 2 / 7 / 3; }
    .div22-second { grid-area: 6 / 3 / 7 / 4; }
    .div23-second { grid-area: 6 / 4 / 7 / 5; }

.saliente{
  padding: 4px;
  background-color: #28a745;
  color: #fff;
  font-size:12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* FOOTER */
.footer {
  padding: 20px;
  background-color: #000b;
  color: white;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 1px solid #fffc;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.footer__logo {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
}

.footer__bottom span {
  margin: 10px;
}

@media screen and (min-width: 1000px) {
  .navbar_item {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
    transition: 0.4s;
  }

  .navbar_item:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 0.4s;
  }

  .nav__container-logo {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .navbar_container .logo {
    height: 100%;
  }

  /* WARNING */
  .warning {
    display: flex;
    max-width: var(--max-width);
    margin: 50px auto;
  }

  .warning img:last-child {
    position: relative;
    left: 0;
  }

  .warning img {
    width: 150px;
    height: 150px;
  }

  .warning__container {
    padding: 0 30px;
  }

  /* PAYMENT METHODS */
  .payment-method {
    max-width: var(--max-width);
    margin: 50px auto;
    border-radius: 20px;
  }

  .payment-method__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .payment-method__container img:nth-child(7),
  .payment-method__container img:nth-child(8) {
    display: inline-block;
  }

  /* SERVICES */
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .services__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: var(--max-width);
  }

  .services__info__benefits {
    grid-row: 1 / 3;
  }

  .info__more__container {
    min-height: 100%;
  }

  .services__sits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: var(--max-width);
  }

  /* ABOUTUS */
  .about__container {
    flex-direction: row;
    justify-content: center;
    max-width: var(--max-width);
    margin: auto;
  }

  .about__item__img {
    width: 100px;
    height: 100px;
  }

  /*  DESTINATION */
  .destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
  }

  .destination__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .destination__grid {
    width: 100%;
  }

  .destination__item {
    height: 250px;
  }

  .destination__item__btn {
    width: max-content;
  }

  /* FOOTER */
  .footer__container {
    max-width: 24%;
  }

  .footer__logo {
    width: 200px;
    margin: 0;
    margin-bottom: 50px;
  }

  .footer__flex {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  /* SEARCH */
  .search {
    position: sticky;
    position: -webkit-sticky;
    top: calc(      10px + var(--nav-bar-height)    );
    /*Dejarlofijoenlaparteinferior*/z-index: 800;
    bottom: 10px;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: var(--max-width);
    margin: 50px auto;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #0004;
    box-shadow: 0 0 10px 5px #0002;
    background-color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

  .search__title {
    width: 100%;
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
    color: var(--primary-color);
  }

  .seach__form {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .search__places,
  .search__dates {
    flex-grow: 1;
    flex-direction: row;
    gap: 10px;
    box-shadow: none;
  }

  .search__input-container {
    flex-grow: 1;
    outline: 1px solid var(--border-color);
    border-radius: 50px;
  }

  .search__input-container label,
  .search__input-container input {
    padding-left: 30px;
    padding-right: 30px;
  }

  .search__input-container input {
    min-width: 200px;
  }

  #search__submit {
    max-width: 200px;
    height: 50px;
  }
}

/* DEVICES */

/* Small (SM) - Pantallas mayores o iguales a 576px */
@media screen and (max-width: 576px) {
  .card__pidebus{
    display: flex;
    flex-direction: column;
  }
  
}

/* Medium (MD) - Pantallas mayores o iguales a 768px */
@media (768px <=  width < 992px) {

}

/* Large (LG) - Pantallas mayores o iguales a 992px */
@media (992px <=  width < 1200px) {


}

/* Extra large (XL) - Pantallas mayores o iguales a 1200px */
@media  screen and (max-width: 1200px) {
  /* Tus estilos para pantallas extra grandes aquí */

}