:root {
  --primary-color: #ff6600;
  --filter-color: invert(53%) sepia(44%) saturate(6917%) hue-rotate(2deg)
    brightness(104%) contrast(105%);
  --border-color: #ccc;

  --shadow: 0 0 15px 5px #0002;

  --nav-bar-height: 90px;
  --max-width: 1200px;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#loading {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: var(--primary-color);
}

#loading img {
  position: relative;
  top: 0;
  opacity: 1;
  width: 100px;
  filter: brightness(100);
  transition: 1s;
}

.loadFinished {
  opacity: 0 !important;
  transition: 1s;
}

.loadFinished img {
  top: 100px !important;
  opacity: 0 !important;
  transition: 1s;
}

/* NAVBAR */
.navbar {
  position: fixed !important;
  z-index: 1000;
  width: 100%;
  height: var(--nav-bar-height);
  padding: 0px !important;
  outline: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  background-color: white;
}

.navbar_container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 10px;
}

.navbar_container a {
  text-decoration: none !important;
  cursor: pointer;
}

.navbar_item {
  display: none;
}

.navbar_container div:nth-child(3) {
  flex-grow: 1;
}

.navbar_container .logo {
  height: 35px;
}

.container_sesion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 30px;
  color: var(--primary-color);
  transition: 0.5s;
}

.container_sesion-btn svg {
  height: 25px;
  filter: var(--filter-color);
  transition: 0.5s;
}

.container_sesion-btn:hover {
  color: white;
  background-color: var(--primary-color);
  transition: 0.5s;
}

.container_sesion-btn:hover svg {
  filter: invert(100%);
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.menu-btn_burger,
.menu-btn_burger:after,
.menu-btn_burger:before {
  width: 45px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--primary-color);
  transition: 0.2s;
}

.menu-btn_burger:after {
  content: "";
  position: absolute;
  top: 15px;
  transition: 0.2s;
}

.menu-btn_burger:before {
  content: "";
  position: absolute;
  bottom: 15px;
  transition: 0.2s;
}

.open .menu-btn_burger {
  background-color: inherit;
  transition: 0.2s;
}

.open .menu-btn_burger:after {
  top: 50%;
  transform: rotate(-45deg);
  transition: 0.2s;
}

.open .menu-btn_burger:before {
  top: 50%;
  transform: rotate(45deg);
  transition: 0.2s;
}

.menu {
  position: absolute;
  z-index: 1000;
  top: 90px;
  right: 0;
  display: none;
  opacity: 0;
  width: max-content;
  padding: 10px 0;
  list-style: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: white;
  transition: 0.2s;
}

.menu li {
  padding: 5px 10px;
}

.menu li:hover {
  background-color: #0002;
}

.active {
  display: block;
  opacity: 1;
}

/* HOME */
.visually-hidden {
  display: none;
}

/* SEARCH */
.search {
  background-color: var(--primary-color);
  max-width: 100%;
}

.seach__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.search__title {
  text-align: center;
  color: white;
}

.search__places,
.search__dates {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.search__input-container {
  position: relative;
  background-color: white;
}

.search__input-container label {
  position: absolute;
  padding: 3px 15px;
  padding-bottom: 0;
  margin: 0;
  font-size: 12px;
  color: grey;
}

.searc__icon {
  position: absolute;
  bottom: 20%;
  right: 13px;
  width: 20px;
}

.search input {
  height: 70px;
  padding-top: 20px;
  border-radius: none;
}

.search input::placeholder {
  position: relative;
  left: 1rem;
}

.search button {
  height: 70px !important;
  width: 100%;
}

/* PAYMENT METHODS */
.payment-method {
  padding: 10px;
  background-color: #0002;
}

.payment-method__title {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  color: var(--primary-color);
}

.payment-method__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.payment-method__container img {
  width: 150px;
}

.payment-method__container img:nth-child(7),
.payment-method__container img:nth-child(8) {
  display: none;
}

/* BUS ROUTES */

.bus-routes {
  max-width: var(--max-width);
}

.col-routes {
  flex: 1;
  align-items: baseline center;
}

.col-routes a {
  margin: 10px 0;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
}

/* COMPANIES */

.section-companies {
  max-width: var(--max-width);
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  background-color: #0002;
  margin: 3rem auto;
}

.companies__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.companies__container img {
  max-width: 100%;
  height: auto;
  width: 8rem;
  margin: 0 auto;
  place-content: center;
  justify-self: center;
}

/* ABOUTUS */
.about {
  padding: 50px 20px;
  background-color: #0002;
}

.about__title {
  text-align: center;
  color: var(--primary-color);
}

.col-about {
  max-width: var(--max-width);
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about__item__img {
  background-color: #ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 30px;
  border-radius: 50%;
  box-shadow: -10px -10px 10px 10px #fff5, 10px 10px 10px 10px #0001;
}

.about__item__img img {
  width: 60%;
}

.about__item__text {
  font-size: 18px;
}

.col-about > div:nth-child(4) {
  padding-top: 1.6rem;
}

/* FOOTER */
.footer {
  padding: 20px;
  background-color: #000b;
  color: white;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 1px solid #fffc;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.footer__logo {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
}

.footer__bottom span {
  margin: 10px;
}

/* DEVICES */
@media screen and (max-width: 576px) {
  .search {
    background-color: var(--primary-color);
    margin-top: 2rem;
    padding: 30px 10px;
  }

  .search__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search__places,
  .search__dates {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .search__input-container {
    position: relative;
    background-color: white;
    margin-bottom: 10px;
  }

  .search__input-container label {
    position: absolute;
    padding: 3px 3px;
    padding-bottom: 0;
    margin: 0;
    font-size: 10px;
    color: grey;
    top: -3px;
  }

  .searc__icon {
    position: absolute;
    bottom: 20%;
    right: 13px;
    width: 20px;
  }

  .search input {
    height: 40px;
    border-radius: none;
  }

  .search input::placeholder {
    position: relative;
    left: -1px;
  }

  .search button {
    height: 40px !important;
    width: 100%;
    max-width: 500px;

    background-color: seagreen;
  }

  .incentive_title {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .col-incetive_2 {
    margin-bottom: 4rem;
  }

  .about__item__text b {
    padding: auto;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .about__item__img {
    width: 100px;
    height: 100px;
  }
  .about__item__img img {
    width: 60px;
    height: 60px;
  }

  .bus-routes_title {
    margin-top: 1rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
  }

  .col-routes a:nth-child(n + 7) {
    margin: 3rem;
    display: none;
  }

  .bus-routes_row {
    margin-bottom: 1.5rem;
  }

  .payment-method_col_2 {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
  }

  .col-companies-img img:nth-child(n + 4) {
    display: none;
  }

  /* COMPANIES */

  .companies__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .companies__container img:nth-child(n + 7) {
    display: none;
  }

  /* COMPANIES AND PAYMENT  */
  .payment-method,
  .section-companies {
    border-radius: 0px;
    margin: 0;
  }
}

@media (768px <= width < 992px) {
  /* SEARCH */
  .search {
    background-color: var(--primary-color);
    max-width: 100%;
    padding: 70px 10px 0 10px;
  }

  .search__input-container {
    margin-bottom: 10px;
  }

  .search input::placeholder {
    position: relative;
    left: -1px;
  }

  .search button {
    height: 40px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    background-color: seagreen;
  }

  /* INCENTIVE */
  .section-incentive_row {
    margin: 2rem;
  }

  .incentive_title {
    margin-top: 1rem;
  }

  .about__item__img {
    width: 100px;
    height: 100px;
  }
  .about__item__img img {
    width: 60px;
    height: 60px;
  }

  /* BUS ROUTES */
  .bus-routes_title {
    margin-top: 1rem;
  }

  .bus-routes_row {
    margin-bottom: 1rem;
  }

  /* COMPANIES AND PAYMENT  */
  .payment-method,
  .section-companies {
    border-radius: 0px;
    margin: 0;
  }

  .companies__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .companies__container img:nth-child(n + 11) {
    display: none;
  }
}

@media (992px <= width < 1200px) {
  /* SEARCH */
  .search {
    background-color: var(--primary-color);
    max-width: 100%;
    padding: 70px 10px 0 10px;
  }

  .search__input-container {
    margin-bottom: 10px;
  }

  .search input::placeholder {
    position: relative;
    left: -1px;
  }

  .search button {
    height: 40px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    background-color: seagreen;
  }

  /* INCENTIVE */
  .section-incentive_row {
    margin: 2rem;
  }

  .incentive_title {
    margin-top: 1rem;
  }

  .about__item__img {
    width: 100px;
    height: 100px;
  }
  .about__item__img img {
    width: 60px;
    height: 60px;
  }

  /* PAYMENT METHODS  */

  .payment-method,
  .section-companies {
    border-radius: 0px;
    margin-bottom: 0;
  }

  /* BUS-ROUTES */
  .bus-routes_title {
    margin-top: 1rem;
  }

  .bus-routes_row {
    margin-bottom: 1rem;
  }

  /* ABOUTUS */

  .section-companies__col-2-level {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .navbar_item {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
    transition: 0.4s;
  }

  .navbar_item:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 0.4s;
  }

  .nav__container-logo {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .navbar_container .logo {
    height: 100%;
  }

  /* PAYMENT METHODS */
  .payment-method {
    max-width: var(--max-width);
    margin: 50px auto;
    border-radius: 20px;
  }

  .payment-method__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .payment-method__container img:nth-child(7),
  .payment-method__container img:nth-child(8) {
    display: inline-block;
  }

  /* ABOUTUS */
  .about__container {
    flex-direction: row;
    justify-content: center;
    max-width: var(--max-width);
    margin: auto;
  }

  .about__item__img {
    width: 100px;
    height: 100px;
  }

  /* FOOTER */
  .footer__container {
    max-width: 24%;
  }

  .footer__logo {
    width: 200px;
    margin: 0;
    margin-bottom: 50px;
  }

  .footer__flex {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .section-companies__col-2-level {
    display: flex;
  }

  .payment-method,
  .section-companies {
    border-radius: 0px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* SEARCH */
  .search {
    position: sticky;
    position: -webkit-sticky;
    top: calc(10px + var(--nav-bar-height));
    z-index: 800;
    bottom: 10px;
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-width: var(--max-width);
    margin: 50px auto;
    box-shadow: 0 0 10px 5px #0002;
    background-color: white;
  }

  .search__title {
    width: 100%;
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
    color: var(--primary-color);
  }

  .seach__form {
    flex-direction: row;
    align-items: center;
  }

  .search__places,
  .search__dates {
    flex-grow: 1;
    flex-direction: row;

    box-shadow: none;
  }

  .search__input-container {
    flex-grow: 1;
  }

  .search__input-container label,
  .search__input-container input {
    padding-right: 30px;
  }

  .search__input-container input {
    min-width: 200px;
  }

  #search__submit {
    max-width: 200px;
    height: 50px;
    background-color: #ff6600;
  }
}
